@import "../node_modules/bulmaswatch/darkly/variables";
@import url("https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap");
$family-sans-serif: "Nunito Sans", -apple-system, system-ui, BlinkMacSystemFont,
"Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
@import "../node_modules/bulma";
@import "../node_modules/bulmaswatch/darkly/overrides";

.page-wrapper {
  min-height: calc(100vh - 224px);
  padding-bottom: 80px;
}

.classes-wrapper {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: left;
}
.card-wrapper {
  display: flex;
  width: 32%;
  margin-bottom: 1%;
  margin-left: 1%;
}

.card {
  &:hover {
    border-color: white;
    cursor: pointer;
  }
}

.navbar {
  border-radius: 0;
}
